page-hello-ionic {
    background: url('https://www.papeldeparede.etc.br/fotos/wp-content/uploads/colheita_2727_1600x1200.jpg');
.BemVindo {
    text-align: center;
}

.Logo {
    position: absolute;
    top: 100px;
    right: 645px;

}
}
.BtnLogin{
    position:absolute;
	top:320px;
    right: 790px;
    font-size: 20px;

}
.BtnCriar{
    position:absolute;
	top:360px;
    right: 745px;
    font-size: 20px;
}
.CriarIcone{
    position:absolute;
	top:375px;
    right: 680px;
    font-size: 20px;
    color: #08298A;
}
.LoginIcone{
    position:absolute;
	top:335px;
    right: 680px;
    font-size: 20px;
    color: #08298A;
}