<div class="BemVindo">
    <ion-navbar>
        <button menuToggle *ngIf="!selectedItem">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Bem vindo</ion-title>
    </ion-navbar>

</div>
    <div class = "Logo" >
    <img src="../../assets/imgs/luan.png" width=240 height=200>
    </div>
    <div class="BtnLogin">
        <input type="button" name="" value="Logar" class="login-submit" />
    </div>
    <div class="LoginIcone">
        <ion-icon name="clipboard"></ion-icon>
    </div>
    <div>

    </div>
    <div class="BtnCriar">

        <input type="button" name="Login" value="Criar Conta" class="login-submit" />
    </div>
    <div class="CriarIcone">
        <ion-icon name="person-add"></ion-icon>
    </div>



